<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.utbm.lo52.flicYouAndroid">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/flic_me_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/flic_me_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="fr.utbm.lo52.flicYouAndroid.BluetoothControl"/>
        <activity android:name="fr.utbm.lo52.flicYouAndroid.BluetoothDevicesList" />
        <activity android:name="fr.utbm.lo52.flicYouAndroid.devicesManagment.ListButtons" />
        <activity android:name="fr.utbm.lo52.flicYouAndroid.devicesManagment.AddButton" />
        <activity android:name="fr.utbm.lo52.flicYouAndroid.devicesManagment.ListWatches" />
        <activity android:name="fr.utbm.lo52.flicYouAndroid.FlicAppNotInstalled" />
        <activity android:name="fr.utbm.lo52.flicYouAndroid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="fr.utbm.lo52.flicYouAndroid.MyFlicBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="io.flic.FLICLIB_EVENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>